<!-- views/pages/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="login-register">
        <div id="login-container">
            <div id="login-section">
                <h1>Create Account</h1>
                <form action="/create/createUser" method="POST">
                    <input type="text" placeholder="Title" name="title" required><br>
                    <input type="text" placeholder="First Name" name="first" required><br>

                    <input type="email" placeholder="Email" name="email" required><br>
                    <input type="password" placeholder="Password" name="password" required><br>
                    <button id="login-button" type="submit">Create</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>