<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body class="index-page">
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="container-fluid">
        <div class="row">
            <!-- Map -->
            <div id="map" class="col-md-9 col-12"></div>
            <!-- Sidebar / Bus Data -->
            <aside class="col-md-3 col-12 bg-light p-3">
                <div class="search-container mb-3">
                    <form id="searchForm" class="d-flex">
                        <input type="text" class="form-control me-2" placeholder="Route" name="search" id="routeSearch">
                        <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div id="bus-data" class="overflow-auto"></div>
            </aside>
        </div>
        <%- include("../partials/cookieAlert") %>
    </main>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script src="/js/grabber.js" type="module"></script>
</body>
</html>