<!-- views/pages/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <div id="login-container">
            <div id="login-section">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <input type="email" placeholder="Email" name="uname" required><br>
                    <input type="password" placeholder="Password" name="upass" required><br>
                    <a href="#"><button id="login-button" type="submit">Submit</button></a>
                    <p>Dont Have An Account Create One <a href="/create">Here</a></p>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>