<!-- views/pages/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>

<body>
    <header>
        <% if (isMobile) { %>
            <%- include('../partials/headerMobile') %>
        <% } else { %>
            <%- include('../partials/headerDesktop') %>
        <% } %>
    </header>
    <main>
        <div id="login-container">
            <div id="login-section">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <input type="email" placeholder="Email" name="userEmail" required><br>
                    <input type="password" placeholder="Password" name="userPass" required><br>
                    <a href="#"><button id="login-button" type="submit">Submit</button></a>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>