<!-- views/pages/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>

<body id="login-page">
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="login-register">
        <div id="login-container">
            <div id="login-section">
                <h1>Login</h1>
                <form action="/login/userlogin" method="POST">
                    <input type="email" placeholder="Email" name="uname" required><br>
                    <input type="password" placeholder="Password" name="upass" required><br>
                    <%if(typeof error !== "undefined"){ %>
                        <div class="error-message"><%= error %></div>
                    <% } %>

                    <a href="#"><button id="login-button" type="submit">Submit</button></a>
                    <p>Dont Have An Account Create One <a href="/create">Here</a></p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>