<!-- views/pages/timetable.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <!-- Forms for selecting bus route -->
    <main class="p-4">
    
        <!-- div for selecting bus route for first-->
        <label for="Service">Service Number:</label>
        <input class="form-select form-control-lg" type="number" id="route" placeholder="Enter the service number" >
            

        <label for="route">Timetable Date:</label>
        <input class="form-control form-control-lg" type="date" id="date" placeholder="Enter the date of timetable">
        
        <button class="btn btn-primary btn-lg mt-4 mb-4" onclick="ScrapeTimetable()">Open Timetable</button>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>
</html>