main{
    padding-top: 30px;
}
body{
    margin: 0;
}

#TopNav{
    background-color: white;
    width: 100%;
    height: 100px;
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 0.8);    
}
#TopNav nav{
    float: right;
}

#TopNav a{
    padding-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-emphasis: none;
    display: inline-block;
    color: black;
    font-size: 3em;

}
#TopNav img{
    padding: 10px;
}


.map-title {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#map {
    height: 60vh;
    max-width: 70%;
    min-width: 67%;
    float: right;
    background-color: lightgray;
    border-radius: 15px;
}

#busData {
    height: 60vh;
    max-width: 25%;
    min-width: 20%;
    float: left;
    padding-left: 20px;
    background-color: lightgray;
    border-radius: 15px;
}

