<!-- views/partials/cookieAlert.ejs -->

<div class="alert text-center cookiealert" role="alert">
    We use cookies to ensure you get the best experience on our website.

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I Agree
    </button>
    <button type="button" class="btn btn-danger btn-sm rejectcookies">
        Reject
    </button>
</div>